[Unit]
Description=Repoclosure report

[Service]
Type=oneshot
ExecStart=docker run -ti --rm -v /home/omv/repoclosure:/repoclosure-report openmandriva/repoclosure
