[Unit]
Description=Repoclosure report

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run -d --rm -v /var/lib/openmandriva/docker-abf/abf-repoclosure/config.json:/repoclosure/config.json -v /var/lib/openmandriva/omv/repoclosure:/repoclosure-output openmandriva/repoclosure
